<nav class="navbar">
    <div class="navbar-inner">
        <span style="font-size: 1.5rem; margin-right: 10px;" @click="showFilesMobile=!showFilesMobile"><i  icon-name="menu"></i></span>
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
        <a href="/" style="text-decoration: none;">
            <img src="https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/ac4797b2-10b0-41a1-8c3b-53643818929a/logo_with_banner_correct.png?t=1722041761"></img>
            <h1 style="margin: 15px !important;">{{meta.siteName}}</h1>
        </a>
        {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
    </div>
    
    {% if settings.dgEnableSearch === true%}
        {% include "components/searchButton.njk" %}
    {%endif%}
</nav>
